.App {
  text-align: center;
  background-color: rgb(62, 247, 200);
  width: fit-content;
  margin: auto;
  border: black solid;
  
}
.App li:hover{
  color:rgb(218, 25, 25);
}
body{
  background-color: rgb(216, 198, 192);
}





